// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

$headings-font-family:  'Marion', serif;
$btn-font-family:       'Marion', serif;

$primary:               #1e3d53;
$blue:                  #1e3d53;